<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <h1> home page</h1>
    <h2><%=1+2%></h2>//op will be html string
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe corrupti sit odit quas voluptates ex minima veritatis architecto ullam, vero consectetur molestiae sapiente deserunt facilis est modi itaque! Voluptates, id.</p>
</body>
</html>